# Model for Top Lane players prediction

## Import MatPlotLib & Setup

In [1]:
# Setup plotting
import matplotlib.pyplot as plt
# Set Matplotlib defaults
plt.rc('figure', autolayout=True)
plt.rc('axes', labelweight='bold', labelsize='large',
       titleweight='bold', titlesize=18, titlepad=10)
plt.rc('animation', html='html5')

## Import Keras, Pandas & other used libraries

In [2]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

## Visualize data

In [ ]:
df_game_events = pd.read_csv("../data/game_events.csv")
df_game_events.head()

,id,game_id,timestamp,event_type,killer_id,killed_id,assisting_player_ids,drake_type
0,0,0,229,player_kill,21.0,29.0,[23],NaN
1,1,0,289,player_kill,21.0,29.0,[23],NaN
2,2,0,499,player_kill,25.0,21.0,"[29, 22]",NaN
3,3,0,504,player_kill,22.0,23.0,"[29, 25]",NaN
4,4,0,535,player_kill,28.0,24.0,[27],NaN

In [13]:
df_game_metadata = pd.read_csv("../data/game_metadata.csv")
df_game_metadata.head()

,game_id,date,match_id,tournament_id,tournament_name,series_id,series_name,league_id,league_name
0,0,2019-09-15 10:17:30.487000,0,0,Playoffs,0,VCS Summer 2019,0,VCS
1,1,2019-09-15 11:18:01.085000,0,0,Playoffs,0,VCS Summer 2019,0,VCS
2,2,2019-09-15 12:11:33.489000,0,0,Playoffs,0,VCS Summer 2019,0,VCS
3,3,2019-09-15 13:03:19.662000,0,0,Playoffs,0,VCS Summer 2019,0,VCS
4,4,2019-09-16 04:32:28.724000,1,1,Playoffs,1,LJL Summer 2019,1,LJL

In [14]:
df_game_players_stats = pd.read_csv("../data/game_players_stats.csv")
df_game_players_stats.head()

,game_id,player_id,player_name,team_id,team_name,team_acronym,role,win,game_length,champion_name,...,player_assists,total_minions_killed,gold_earned,level,total_damage_dealt,total_damage_dealt_to_champions,total_damage_taken,wards_placed,largest_killing_spree,largest_multi_kill
0,15,0,shanji,0,Legend Esport Gaming,LEG,Top,False,1415,Irelia,...,1,179,8530,12,99007,7923,15326,8,0,1
1,15,1,Demon,1,Bilibili Gaming Junior,BLGJ,Top,True,1415,Vladimir,...,6,174,8565,14,100342,10857,16475,11,2,1
2,15,2,yanxuan,0,Legend Esport Gaming,LEG,Bot,False,1415,Kai'Sa,...,1,227,9613,12,116407,7011,5788,9,0,1
3,15,3,Viod,0,Legend Esport Gaming,LEG,Support,False,1415,Lux,...,2,19,5442,10,23555,4932,6151,25,0,0
4,15,4,HanXuan,1,Bilibili Gaming Junior,BLGJ,Mid,True,1415,Aatrox,...,4,188,10125,14,125022,10749,15481,10,3,2