# Model for Top Lane players prediction

## Import MatPlotLib & Setup

In [1]:
# Setup plotting
import matplotlib.pyplot as plt
# Set Matplotlib defaults
plt.rc('figure', autolayout=True)
plt.rc('axes', labelweight='bold', labelsize='large',
       titleweight='bold', titlesize=18, titlepad=10)
plt.rc('animation', html='html5')

## Import Keras, Pandas & other used libraries

In [2]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

## Visualize data

In [29]:
df_game_events = pd.read_csv("../data/game_events.csv")
df_game_events.head()

game_events_features = ['timestamp', 'event_type', 'killer_id', 'killer_name', 'killer_team_id',]

#df_game_events.event_type.value_counts()
#df_game_events.drake_type.value_counts()
#df_game_events.killer_id.value_counts()

df_game_events.head()

,id,game_id,timestamp,event_type,killer_id,killed_id,assisting_player_ids,drake_type
0,0,0,229,player_kill,21.0,29.0,[23],NaN
1,1,0,289,player_kill,21.0,29.0,[23],NaN
2,2,0,499,player_kill,25.0,21.0,"[29, 22]",NaN
3,3,0,504,player_kill,22.0,23.0,"[29, 25]",NaN
4,4,0,535,player_kill,28.0,24.0,[27],NaN

In [ ]:
df_game_metadata = pd.read_csv("../data/game_metadata.csv")
df_game_metadata.head()

game_metadata_features = ['game_id']

,game_id,date,match_id,tournament_id,tournament_name,series_id,series_name,league_id,league_name
0,0,2019-09-15 10:17:30.487000,0,0,Playoffs,0,VCS Summer 2019,0,VCS
1,1,2019-09-15 11:18:01.085000,0,0,Playoffs,0,VCS Summer 2019,0,VCS
2,2,2019-09-15 12:11:33.489000,0,0,Playoffs,0,VCS Summer 2019,0,VCS
3,3,2019-09-15 13:03:19.662000,0,0,Playoffs,0,VCS Summer 2019,0,VCS
4,4,2019-09-16 04:32:28.724000,1,1,Playoffs,1,LJL Summer 2019,1,LJL

In [39]:
df_game_players_stats = pd.read_csv("../data/game_players_stats.csv")
df_game_players_stats.head()

game_players_stats_features_by_user = ['champion_name', 'tower_kills', 'inhibitor_kills', 'dragon_kills', 'herald_kills', 'baron_kills', 
                               'player_kills', 'player_deaths', 'player_assists','total_minions_killed', 'gold_earned', 'level', 
                               'total_damage_dealt','total_damage_dealt_to_champions', 'total_damage_taken', 'wards_placed', 
                               'largest_killing_spree', 'largest_multi_kill']

df_game_players_stats.value_counts()

game_id  player_id  player_name  team_id  team_name              team_acronym  role     win    game_length  champion_name  team_kills  tower_kills  inhibitor_kills  dragon_kills  herald_kills  baron_kills  player_kills  player_deaths  player_assists  total_minions_killed  gold_earned  level  total_damage_dealt  total_damage_dealt_to_champions  total_damage_taken  wards_placed  largest_killing_spree  largest_multi_kill
37458    4697       Mentos       27       WLGaming Esports       WLG           Mid      False  1568         Azir           13          4            0                0             0             0            3             3              1               228                   10659        14     148049              13042                            17711               10            0                      1                     1
0        21         Stark        4        Team Flash             TF            Top      True   2010         Renekton       22          10           1                2             1             2            4             4              9               275                   14760        17     187887              12604                            31066               18            2                      1                     1
         22         Venus        5        Lowkey Esport Vietnam  LK            Support  False  2010         Nautilus       18          2            0                0             0             0            2             5              10              61                    8188         13     23397               5298                             12630               47            2                      1                     1
         23         YiJin        4        Team Flash             TF            Jungle   True   2010         Sejuani        22          10           1                2             1             2            4             2              13              157                   12963        16     165390              9776                             38185               11            3                      2                     1
         24         Celebrity    5        Lowkey Esport Vietnam  LK            Bot      False  2010         Ezreal         18          2            0                0             0             0            2             4              10              285                   13108        16     197852              24770                            13523               12            2                      1                     1
                                                                                                                                                                                                                                                                                                                                                                                                                                        ..
1        23         YiJin        4        Team Flash             TF            Jungle   False  1716         Sejuani        10          5            0                2             0             0            3             3              6               147                   9524         13     123346              7283                             21301               11            2                      1                     1
         22         Venus        5        Lowkey Esport Vietnam  LK            Support  True   1716         Morgana        15          7            2                2             1             1            1             1              9               23                    7633         12     14921               5919                             8751                34            0                      1                     1
         21         Stark        4        Team Flash             TF            Top      False  1716         Camille        10          5            0                2             0             0            1             5              4               213                   10139        14     126771              10823                            20678               11            0                      1                     1
0        30         C7N          4        Team Flash             TF            Mid      True   2010         Karma          22          10           1                2             1             2            4             2              11              303                   15143        18     196700              14106                            12036               15            2                      2                     1
         29         Hani         5        Lowkey Esport Vietnam  LK            Top      False  2010         Kennen         18          2            0                0             0             0            1             5              5               229                   11160        16     136281              10920                            16643               13            0                      1                     1
Name: count, Length: 374264, dtype: int64

## Preprocessing data for win determination with one player's data

In [ ]:
def get_player_data(player_id : int, game_id : int) -> pd.DataFrame:
    """
    Get player data for a specific player and game.
    """
    # Filter by game_id first
    df_player = df_game_players_stats[df_game_players_stats['game_id'] == game_id]
    
    # Filter by player_id
    df_player = df_player[df_player['player_id'] == player_id]
    
    # Create a new DataFrame with only the selected columns
    df_player_selected = df_player[game_players_stats_features_by_user]
    
    return df_player_selected

def normalize_player_data(dataframe : pd.DataFrame) -> pd.DataFrame:

  champion_name  tower_kills  inhibitor_kills  dragon_kills  herald_kills  \
0        Irelia            3                0             0             0

   baron_kills  player_kills  player_deaths  player_assists  \
0            0             2              5               1

   total_minions_killed  gold_earned  level  total_damage_dealt  \
0                   179         8530     12               99007

   total_damage_dealt_to_champions  total_damage_taken  wards_placed  \
0                             7923               15326             8

   largest_killing_spree  largest_multi_kill
0                      0                   1